<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ApplicationConfiguration" type="SystemFramework.ApplicationConfiguration, SystemFramework" />
    <section name="WDWConfiguration" type="Common.WDWConfiguration, Common" />
    <!--<sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="printControl" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>-->
  </configSections>
  <!--<businessObjects>
    <crystalReports>
      <printControl>
        <add key="url" value="http://officemgr.wdwbest.com/aspnet_client/system_web/4_0_30319/crystalreportviewers13/ActiveXControls/PrintControl.cab" />
      </printControl>
    </crystalReports>
  </businessObjects>-->
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="480" shutdownTimeout="2400" />
    <authentication mode="Forms">
      <forms name=".ADUAUTH" loginUrl="Logon.aspx" protection="All" />
    </authentication>
    <sessionState cookieless="false" timeout="640" mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" />
    <globalization responseEncoding="utf-8" requestEncoding="utf-8" />
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <ApplicationConfiguration>
    <!-- Trace file settings -->
    <add key="SystemFramework.Tracing.Enabled" value="True" />
    <!-- Set this to the file with the trace settings. This file should be relative
             to the root application directory. -->
    <add key="SystemFramework.Tracing.TraceFile" value="WDWTrace.txt" />
    <!-- The TraceLevel for this switch.  -->
    <add key="SystemFramework.Tracing.TraceLevel" value="4" />
    <!-- This switch name. The trace level for this name can be set through
             environment variables or the registry  -->
    <add key="SystemFramework.Tracing.SwitchName" value="WDWTraceSwitch" />
    <!-- This description of the Tracing.SwitchName switch -->
    <add key="SystemFramework.Tracing.SwitchDescription" value="Error and information tracing for WDW" />
    <!-- Event log settings
       Note: The default WDW event source name is created in the local machine during setup. 
           If you wish to log events to a different event source that event source must exist.
        -->
    <add key="SystemFramework.EventLog.Enabled" value="False" />
    <add key="SystemFramework.EventLog.SourceName" value="WDW" />
    <!-- Use the standard TraceLevel values:
             0 = Off
             1 = Error
             2 = Warning
             3 = Info
             4 = Verbose -->
    <add key="SystemFramework.EventLog.LogLevel" value="1" />
  </ApplicationConfiguration>
  <WDWConfiguration>
    <!-- Settings specific to the WDW application -->
    <add key="WDW.DataAccess.ConnectionString" value="persist security info=False;packet size=4096" />
    <add key="WDW.DataAccess.UserId" value="k9hQTaFYJA8l6dExV9aQSQ==" />
    <add key="WDW.DataAccess.Password" value="hh5O58jaPn14nwfNZv2BsQ==" />
    <!-- Indicates DEMO or PROD...used to indicate which path to use for saving rtf files -->
    <add key="WDW.DataAccess.ExecutionEnvironment" value="DEMO" />
    <!-- Settings specific to path direction and url direction...used to save rtf files -->
    <!--<add key="WDW.DataAccess.ProdPath" value="\\farm1.adhost.lan\inetpub\wwwroot\gcweb\3434.wdwbest\wdw\ExportCrystal\"/>
    <add key="WDW.DataAccess.DemoPath" value="\\farm1.adhost.lan\inetpub\wwwroot\gcweb\3434.demo.wdwbest\wdw\ExportCrystal\"/>
    <add key="WDW.DataAccess.ProdURL" value="http://officemgr.wdwbest.com/ExportCrystal/"/>
    <add key="WDW.DataAccess.DemoURL" value="http://officemgr.wdwbest.com/ExportCrystal/"/>-->
    <add key="WDW.Web.EnablePageCache" value="True" />
    <add key="WDW.Web.PageCacheExpiresInSeconds" value="3600" />
    <add key="WDW.Web.EnableSsl" value="False" />
  </WDWConfiguration>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.17.0" newVersion="2.0.17.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>